.pagination {
    display: flex;
    margin-top: 25px;
    font-family: "aktiv-grotesk-std", sans-serif;
}

.pagination div span {
    font-size: 14px;
    cursor: pointer;
    min-width: none;
}

.pagination__prevButton,
.pagination__nextButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
}

.pagination__activePage {
    margin: 0px 15px;
    color: #D6F379;
    font-size: 14px;

}

.pagination__lastNumber,
.pagination__firstNumber {
    margin: 0px 20px;
    font-size: 14px;
    width: 50px;
    cursor: pointer;
}