.slideCard img {
    width: 275px;
    height: 245px;
    border-radius: 12px;
    pointer-events: none;
    
}

.slideCard__active {
    width: 400px;
    height: 350px;
    border-radius: 24px;
    background-color: #D6F379;
    
    transition: 1s ease;
}

.slideCard__active img {
    width: 365px;
    height: 250px;
    border-radius: 12px;    
    margin: 2% 4%;

    transition: 0.5s ease;
}

.slideCard__title {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 18px;
    color: #000000;
}

.slideCard__subtitle {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 13px;
    color: #000000;
}

.slideCard__active button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    
    width: 155px;
    height: 45px;
    
    background: #D6F379;
    cursor: pointer;
    border-radius: 24px;
    border: none;
}

.slideCard__containerText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.slideCard__container {
    display: flex;
    justify-content: space-evenly;
}