.home__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    font-family: 'Montserrat';
    color: #FFFFFF;
}

.home__header-title {
    width: 450px;
    font-weight: 700;
    font-size: 65px;
    line-height: 78px;
}

.home__header-title span {
    color: #D6F379;
}

.home__header-subtitle {
    width: 460px;
    height: 65px;
    font-weight: 200;
    font-size: 16px;
    line-height: 32px;
    margin-top: 5px;
}

.home__search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;

}

.home__search form {
    position: relative;
}

.home__search input {
    padding: 5px 8px 8px 24px;
    width: 665px;
    height: 45px;
    border-radius: 24px;
    border: none;

    font-weight: 600;
    font-size: 16px;
    line-height: 20px;

}

.home__search input:focus {
    outline: none;
}

.home__search button {
    background: #D6F379;
    border-radius: 24px;
    cursor: pointer;
    width: 150px;
    height: 45px;
    margin: 6px 10px;
    border: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;

    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}

.home__body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem 0rem;
    margin-left: 10%;
}

.home__body-text {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 1rem;
}

.home__body-cards {
    display: flex;
    justify-content: space-between;
    width: 85%;
}