.home__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Montserrat';
}

.home__header-title {
    width: 450px;
    font-weight: 700;
    font-size: 65px;
    line-height: 75px;
}

.home__header-title span {
    color: #D6F379;
}

.home__header-subtitle {
    width: 460px;
    height: 65px;
    font-weight: 200;
    font-size: 16px;
    line-height: 32px;
    margin-top: 5px;
}

.home__body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem 0rem;
    margin-left: 10%;
}

.home__body-text {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 1rem;
}

.home__body-cards {
    display: flex;
    justify-content: space-between;
    width: 85%;
}

@media screen and (max-width: 1250px) {

    .home__body {
        padding: 3rem;
    }

    .home__header {
        padding: 2rem;
    }

    .home__header-title {
        padding: 1rem;
    }

    .home__body-cards {
        width: 80%;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 900px) {
    .home__body {
        margin: 0rem;
    }
    .home__body-cards {
        width: 100%;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 650px) {
    .home__header {
        text-align: start;
    }

    .home__header-title {
        width: 350px;
        font-size: 40px;
    }

    .home__header-subtitle {
        width: 350px;
        font-weight: 400;
        font-size: 16px;
    }
}

@media screen and (max-width: 370px) {

    .home__header {
        width: 100%;
        padding: 2rem 0rem;
        margin: 0rem;
    }

    .home__header-title {
        width: 95%;
        font-size: 40px;
    }

    .home__header-subtitle {
        width: 95%;
    }

    .home__body {
        padding: 2rem 1rem;
    }
}